nav>table{
    display: inline;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    border-collapse: separate;
}
.link{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.link li {
    float: left;
}
.link li a {
 
    color:aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1 {
    color:skyblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
label{
    font-size:large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    padding: 6.5%;
    
}
body {
    background-image:url("../img/bgrd.jpg");
    background-size: cover;
    
  }
form{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-self:center;

}
input[type=text] {
    padding: 8px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  input[type=email] {
    padding: 8px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

textarea {
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:whitesmoke;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
select {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color:whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .sub{
        background-color: #1c82bd;
        border: none;
        color:aliceblue;
        padding: 8px 32px;
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom: 40px;
        text-decoration: none;
        cursor: pointer;
      }
  
footer{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  padding: 10px;
}
.mes{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    
    
}
.mes p {
    margin-right: 8%;
    margin-left: 8%;
    font-size:large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
}